  <!-- Theme only here.-->
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    mermaid.initialize({
      startOnLoad: true,
        theme: 'base',
        themeVariables: {
          primaryColor: '#6c757d',       
          primaryBorderColor: '#3d61fd',       
          lineColor: '#000000',             
          secondaryColor: '#08a057',        
          tertiaryColor: '#fdd93d',         
          primaryTextColor: '#ffffff',         
          fontSize: '16px',
          edgeLabelBackground: '#08a057'   
      }
    });
  });
</script>
<script defer>
  document.addEventListener("DOMContentLoaded", function() {
    mermaid.initialize({
      startOnLoad: true,
        theme: 'base',
        themeVariables: {
          primaryColor: '#6c757d',       
          primaryBorderColor: '#3d61fd',       
          lineColor: '#000000',             
          secondaryColor: '#08a057',        
          tertiaryColor: '#fdd93d',         
          primaryTextColor: '#ffffff',         
          fontSize: '16px',
          edgeLabelBackground: '#08a057'   
      }
    });
  });
</script>

