<!-- Go to your Mailchimp account/Lists/Sign Up Forms/Embedded forms and replace the code below with your own  -->
<div id="my_author">
	<img src="/assets/images/minimal-avatars.png" class="rounded-corners"/>
	<p>I am a quantitative Forestry and Anthropology wizard who loves getting his hands dirty with GIS problems and Spatial Modelling. </p>
	<p>Also I am a problem-solving pro who thrives on tackling complex scenarios and like unlock nature-based solutions to get financial resources to fight ahaints the climate change crisis. My superpowers are technical carbon issues, REDD+ projects, Agroforestry, and Agriculture Land Management. </p>
	<p>Want to know more about me? Click here: <a href="https://aahincapie.github.io/about/" style="color:red; font-weight:bold;">About</a>.</p>
</div>