<!-- Go to your Mailchimp account/Lists/Sign Up Forms/Embedded forms and replace the code below with your own  -->
<div id="my_author">
	<img src="/assets/images/minimal-avatars_new.svg" class="rounded-corners"/>
	<p>I am a quantitative Forestry and Anthropology wizard who loves getting his hands dirty with GIS problems and Spatial Modelling. </p>
	<p>My superpowers are technical carbon issues, in A/R, REDD+, Agroforestry, and Agriculture Land Management. </p>
	<p>Schedule a meeting here: <a href="https://calendly.com/aahincapie" style="color:#ff0000; font-weight:bold;">Calendar view</a>.</p>
</div>