<div class="sidebar sticky-top">
    <div class="sidebar-section">
      <h5><span>Author/Newsletter</span></h5>
      {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
      <h5><span> -Buy a bag of coffee - support our small business</span></h5>
      <p>In 2021 the love for Colombian coffee led Adolfo and Milena to think of a project together to grow coffee. They now have an experimental brand and coffee crop in Concepción, Antioquia. </p>
      <a href="https://aahincapie.github.io/coffee/" class="buy-a-coffee">
        <img src="{{ site.baseurl }}/assets/images/coffeestore.svg" alt="Buy a coffee" />
        <p>Evocar coffee is a high-quality coffee, the beans are grown inside of cloud-forest of the Andes Mountains and it is processed using traditional methods.</p>
      </a>
    </div>
  </div>