<div class="sidebar sticky-top">
    <div class="sidebar-section">
      <h5><span>Author/Newsletter</span></h5>
      {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
      <h5><span>Coffee farmer | Coffee seller</span></h5>
      <h5><span>Our experimental brand</span></h5>
      <a href="https://aahincapie.github.io/coffee" class="buy-a-coffee">
        <img src="{{ site.baseurl }}/assets/images/coffeestore_a1.svg" alt="Buy a coffee 1" />
      </a>
      <p>Since 2021 the love for Colombian coffee led us to start a coffee project in a small town in Colombia Concepción, Antioquia.</p>
      <a href="https://aahincapie.github.io/coffee" class="buy-a-coffee">
        <img src="{{ site.baseurl }}/assets/images/path_art_evocar_0.png" alt="Buy a coffee 3" />
      </a>
      <a href="https://aahincapie.github.io/coffee">Evocar coffee is a high-mountain coffee, regenerative agriculture of beans growning inside of cloud-forest and processed using traditional methods.</a>
    </div>
<div class="sidebar-section">
      <h5><span>Sign up to get news about this website:</span></h5>

    </div>
  </div>