<div class="sidebar sticky-top">
    <div class="sidebar-section">
      <h5><span>Author/Newsletter</span></h5>
      {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
      <h5><span>Buy a bag of coffee from Adolfo and Milena and support their small business</span></h5>
      <p>In 2021, after the pandemic, the love for Colombian coffee led Adolfo and Milena to think of a project together to grow coffee. They now have an experimental brand of coffee variety castillo in Concepción, Antioquia. </p>
      <a href="https://aahincapie.github.io/coffee/" class="buy-a-coffee">
        <img src="{{ site.baseurl }}/assets/images/coffeestore.svg" alt="Buy a coffee" />
      </a>
      <p>Adolfo and Milena are passionate about coffee and they are committed to producing high-quality coffee. Their coffee is grown in the rich soil of the Andes Mountains and it is processed using traditional methods.</p>
      </div>
  </div>